.first{
    background-color: green;
    box-shadow: 3px;
    margin-bottom: 3px;
    padding:1.5em
}
.second{
    background-color: firebrick;
    box-shadow: 3px;
    margin: 3px;
    padding:1.5em;

}




#1{
    background-color: aqua;
    color: red;
}
#2{
    background-color: greenyellow;
    box-shadow: 3px 3px 6px;
}

#3{
    size: 100px;
}